@import "node_modules/reset.css/reset.css";

* {
    box-sizing: border-box;
}

:root {
    --primary: #fff;
    --secondary: #f2f2f2;
    --text: #333;
    --border: #ddd;
    --accent: #dc134c;
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary: #222;
        --secondary: #333;
        --text: #999;
        --border: #444;
        --accent: #dc134c;
    }
}

::-webkit-scrollbar {
    display: none;
}

::selection {
    background: var(--accent);
    color: #fff;
}

body {
    transition: .3s ease background, .3s ease color;
    height: 100vh;
    min-width: 320px;
    text-align: center;
    font-family: system-ui;
    overflow-x: hidden;
    padding: .5rem;
    background: var(--secondary);
    color: var(--text);
    line-height: 1.4;
}

#quiz {
    margin: 0 auto;
    max-width: 40rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    font-weight: bold;
    font-size: 2rem;
    padding-bottom: 1rem;
}

p {
    padding-bottom: 1rem;
}

button {
    display: block;
    margin: .5rem auto;
    cursor: pointer;
    padding: 1rem;
    width: 100%;
    user-select: none;
    background: var(--primary);
    border: 1px solid var(--border);
    border-radius: .25rem;
    font-family: system-ui;
    outline: none;
    color: var(--text);
    font-size: 1rem;
}

button:hover {
    background: var(--accent);
    border-color: var(--primary);
    color: var(--primary);
}
